@font-face {
  font-family: "digital7";
  src: url(./fonts/digital-7.ttf) format("truetype");
}

@font-face {
  font-family: "norwester";
  src: url(./fonts/norwester.otf) format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./images/technology-background-1632715.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-family: norwester;
  font-size: 1.5rem;
  border: 2.5px solid black;
}

.calculator {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-rows: 75px;
  justify-content: center;
  align-content: center;
  border: 5px solid black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  grid-column: span 4;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  font-family: digital7;
  font-size: 3rem;
  border: 2.5px solid black;
}

.two-wide {
  grid-column: span 2;
}
